@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title.</h2>
<h3>Kapcsolati oldal és információk</h3>

<address>
    Magyarország,<br />
    Budapest, 1035 BlaBla utca,<br />
    <abbr title="Phone">Telenor:</abbr>
    06 20 25 29 285
</address>
<br /><br />
<p>
    Ha bármilyen hibát tapasztal vagy bármilyen kérdése lenne kérem jelezze felénk!<br />
    Együttműködését köszönjük!
</p>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@penztarca.hu">Support@penztarca.hu</a><br />
    <strong>Acs David:</strong> <a href="mailto:acsdav@penztarca.hu">acsdav@penztarca.hu</a>
</address>