@{
    ViewBag.Title = "Főoldal";
}

<div class="jumbotron">
    <h1>Online Pénztárca alkalmazás</h1>
    <p class="lead">A saját tételek felvételéhez, módosításához kérjük regisztrálj!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Első lépés</h2>
        <p>
            Első lépésként kérjük regisztrálj, ha még nincs fiókod. Ellenkező esetben az E-mail cím megadásával és a hozzá tartozó jelszóval jelentkezz be.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Regisztráció &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plusz információk</h2>
        <p>Regisztráció nélkül az összes felhasználó felvett tételeit tekintheti meg.</p>
    </div>
    <div class="col-md-4">
        <h2>Környezet</h2>
        <p>A program cSharp nyelv, MicrosoftVS17 IDE-t használva MVC alapon lett megírva.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/">További infók &raquo;</a></p>
    </div>
</div>